<ion-header>
  <ion-navbar>

    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-fab top center edge>
    <button ion-fab mini><ion-icon name="alarm"></ion-icon></button>
  </ion-fab>
  <ion-fab top right edge>
    <button ion-fab mini><ion-icon name="share"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-instagram"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  <ion-content *ngIf="detalles">
    <ion-item>
      <h2>{{detalles.titulo}}</h2>
      <p>{{detalles.subtitulo}}</p>
    </ion-item>
    <img src="https://hyper-moskitokemado.c9users.io/imgs/{{detalles.imagen}}">
    <p>{{detalles.descripcion}}</p>
    <p>#Fútbol #Deportes #Amaños #Penaltitos</p>
    <button ion-button icon-left clear small>
      <ion-icon name="calendar"></ion-icon>
      <div>{{detalles.fecha_ini}}</div>
    </button>
    <button ion-button icon-left clear small>
      <ion-icon name="pin"></ion-icon>
      <div>{{detalles.lugar}}</div>
    </button>
    <button ion-button icon-left clear small>
      <ion-icon name="people"></ion-icon>
      <div>{{detalles.hypers}} hypers</div>
    </button>
  </ion-content>
</ion-content>
