.profile-page {
  .header-profile-page {
    position: relative;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .image-profile{
    filter: blur(5px);
    max-height: 35rem;
    width: 100%;
  }

  .image-profile-name {
    position: absolute;
    top: 60%;
    font-size: 2.2em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .image-profile-location {
    font-size: 1.5em;
    position: absolute;
    top: 75%;
    width: 100%;
    color: #fff;
  }

  .image-profile-avatar{
    position: absolute;
    top: 13%;
    left: 32%;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
  }

}

.perfil{
  .item-md ion-avatar img {
    width: 100px;
    height: 100px;
  }
}
