<ion-header>
  <ion-navbar>

    <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="perfil">
  <ion-item>
    <ion-avatar item-left>
      <img src="assets/images/fotoPerfil.jpg">
    </ion-avatar>
    <h1>Iván Pérez</h1>
  </ion-item>
  <ion-list>

    <ion-item>
      <ion-label stacked>Username</ion-label>
      <ion-input type="text" value="moskitokemado" readonly="readonly"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Nombre</ion-label>
      <ion-input type="text" value="Iván" readonly="readonly"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Apellidos</ion-label>
      <ion-input type="text" value="Pérez Fuentes" readonly="readonly"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input type="text" value="moskitokemado@hotmail.com" readonly="readonly"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Fecha Nacimiento</ion-label>
      <ion-input type="text" value="14/06/1991" readonly="readonly"></ion-input>
    </ion-item>

  </ion-list>
</ion-content>
<!--<ion-content class="profile-page">
  <div class="header-profile-page">
    <img class="image-profile" src="assets/images/fotoPerfil2.jpg"/>
    <img class="image-profile-avatar" src="assets/images/fotoPerfil2.jpg"/>
    <div class="image-profile-name">Gustavo</div>
    <div class="image-profile-location">A Coruña</div>
  </div>

  <ion-item>
    <ion-label>Username</ion-label>
  </ion-item>


</ion-content>-->
