<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      HYPER
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-menu [content]="content">
    <ion-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-avatar item-left>
                <img src="assets/images/fotoPerfil.jpg">
              </ion-avatar>
              <h2>moskitokemado</h2>
              <p>Iván Pérez</p>
            </ion-item>
          </ion-col>
          <ion-col center>
            <button ion-button icon-left color="danger">
              <ion-icon name="log-out"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>


    </ion-header>
    <ion-content>
      <ion-list>
        <button ion-item [navPush]="perfilpage">
          Perfil
        </button>
        <button ion-item [navPush]="eventosmarcadospage">
          Eventos marcados
        </button>
        <button ion-item [navPush]="contactopage">
          Contacto
        </button>
        <button ion-item>
          Ayuda
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-nav id="nav" #content [root]="rootPage"></ion-nav>
  <!--<ion-fab top right edge>
    <button ion-fab mini><ion-icon name="funnel"></ion-icon></button>
    <ion-fab-list>
  </ion-fab-list>
  </ion-fab>-->
  <!--<h3>PORTADA</h3>-->
  <ion-list>
    <ion-item>
      <ion-label><ion-icon name="funnel"></ion-icon> Filter Events</ion-label>

      <ion-select [(ngModel)]="tagsFilter" multiple="true" cancelText="Nah" okText="Okay!">
        <ion-option value="deportes">Deportes</ion-option>
        <ion-option value="moda">Moda</ion-option>
        <ion-option value="electronica">Electrónica</ion-option>
        <ion-option value="conferencias">Conferencias</ion-option>
        <ion-option value="alimentacion">Alimentación</ion-option>
        <ion-option value="videojuegos">Videojuegos</ion-option>
        <ion-option value="musica">Música</ion-option>
        <ion-option value="conciertos">Conciertos</ion-option>
        <ion-option value="motor">Motor</ion-option>
        <ion-option value="viajes">Viajes</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <p>
    Mientras el usuario no seleccione unos tags para filtrar saldrá una lista de los eventos ordenados por proximidad (tiempo) e importancia (esto puede estar basado en las preferencias que el usuario ha marcado en su perfil)
  </p>
  <ion-content class="card-background-page">
    <ion-card *ngFor="let evento of eventos" (click)="verEventoDetalle(evento.id)">
      <img src="https://hyper-moskitokemado.c9users.io/imgs/{{evento.imagen}}"/>
      <div class="card-title">{{evento.titulo}}</div>
      <div class="card-subtitle">{{evento.subtitulo}}</div>
      <!--<div class="card-tags">#Real Madrid #Celta de Vigo #Fútbol</div>-->
    </ion-card>
  </ion-content>
</ion-content>
