page-home {

  .card-background-page {

    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }

    .card-tags {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }

  }

  .item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 0px solid #dedede;
  }



}


