<ion-header>
  <ion-navbar>

    <ion-title>Formulario de contacto</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

  <form (ngSubmit)="contactForm()">
    <ion-item>
      <ion-label floating>Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="contacto.nombre" name="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Apellidos</ion-label>
      <ion-input type="text" [(ngModel)]="contacto.apellidos" name="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="text" [(ngModel)]="contacto.email" name="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Contenido del mensaje</ion-label>
      <ion-textarea [(ngModel)]="contacto.contenido" name="description" maxlength="500"></ion-textarea>
    </ion-item>
    <button ion-button type="submit" block>Submit</button>
  </form>
</ion-content>
